/*
*********************************************************************
							    ABOUT US 
*********************************************************************
*/
.aboutUs_main{
    background: linear-gradient(180deg,#0DF6BF 20%, #0000 100%);
}
.aboutUs_main h2{
    text-align: center;
    padding: 10% 0 5% 0;
    font-size: 30px;
}
.aboutUs_main p{
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8%;
    padding-bottom: 20%;
    color: #222;
}