/*
*********************************************************************
							SERVICES
*********************************************************************
*/
.services_main h2{
    color: var(--letter-color-primary);
    font-size: 25px;
    padding: 7% 0 2% 0;
    text-align: center;
}