/*
*********************************************************************
							TITLE PRINCIPAL
*********************************************************************
*/
.title_main{
    background-image: url(https://github.com/sga-programing-company/imagenes/blob/main/02.jpg?raw=true);
    background-attachment: unset;
    background-position: center;
    background-size: cover;
    color:var(--letter-color-primary);
    text-align: center;
}
.title_main div{
    background: #00000045;
}
.title_main div h1{
    padding-top: 30%;
    padding-bottom: 5%;
    font-size: 23px;
}
.title_main div h2{
    padding-bottom: 25%;
    font-size: 15px;
}