.footer_main{
    background: linear-gradient(0deg,#0BEFA2 20%, #0000 100%);
    padding-top: 15%;
}
.footer_main > div{
    padding: 3%;
}
.footer_main > div > div{
    display: flex;
    width: 100%;
}
.footer_main a i{
    padding-right: 5%;
    flex-grow: 1;
}
.footer_main a:any-link{
    display: inline-block;
    padding: 1%;
    flex-grow: 2;
    width: 100%;
    color: var(--letter-color-secondary);
    text-decoration: none;
    font-size: 18px;
}
@media screen and (min-width: 321px){
    .footer_main a:any-link{
        font-size: 1.3em;
    }
}
@media screen and (min-width: 376px){
    .footer_main a:any-link{
        font-size: 1.5em;
    }
}