/*
*********************************************************************
								VARIABLES
*********************************************************************
*/
:root{
	--primary: #0BEFA2;
	--secondary: #383838;
	--tertiary: #0DF6BF;
	--letter-color-primary: #fff;
	--letter-color-secondary: #333;
}
.services_main{
    background: transparent;
    color:var(--letter-color-primary)
}
.services_main h3{
    text-align: center;
    color:var(--letter-color-primary);
    width: 70%;
    margin: 0 15%;
    margin-top: 10%;
}
.services_main figure img{
    display: block;
    width: 100px;
    height: 100px;
    margin: 3% auto;
    clip-path: circle(50% at 50% 50%);
    object-fit: cover;
}
.services_main figure figcaption p{
    font-size: 12px;
    width: 50%;
    text-align: center;
    margin: 3% 25%;
}
.services_main div{
    width: 50%;
    margin: 2% 25%;
    background: var(--primary);
    text-align: center;
    padding: 2%;
}
.services_main div p a:any-link{
    text-decoration: none;
    color:var(--letter-color-secondary);
}